* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

img {
  max-width: 100%;
}

.menu {
  background-color: #3fa078;
}

.container {
  width: 80%;
  margin: 0 auto;
  max-width: 1320px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.col {
  width: 100%;
}

header {
  background-color: #3fa078;
  position: sticky;
  top: 0;
}

.nav__list {
  list-style: none;
  display: flex;
}

.nav__item {
  margin: 0 0 0 1.5rem;
}

.nav__link {
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  text-decoration: none;
}

.nav__link:hover,
.nav__link:focus {
  opacity: 0.5;
}

#center-section {
  background-color: #3fa078;
  padding: 8rem;
}

.center-content {
  color: white;
  font-size: 4.5rem;
  font-weight: 400;
}

.center-content--title {
  font-weight: 700;
  display: inline-block;
}

.center-content--description {
  font-size: 1.4rem;
  margin-top: 1.2rem;
  display: inline-block;
}

.animated_title {
  --bg-size: 400%;
  --color-one: rgb(37, 203, 244);
  --color-two: rgb(37, 244, 175);

  background: linear-gradient(
      90deg,
      var(--color-one),
      var(--color-two),
      var(--color-one)
    )
    0 0 / var(--bg-size) 100%;
  animation: move-bg 4s infinite linear;
  color: transparent;
  -webkit-background-clip: text;
}

@keyframes move-bg {
  to {
    background-position: var(--bg-size) 0;
  }
}

.img-box {
  text-align: right;
  margin-top: 0;
}

#gmservices {
  padding: 0 0 5rem 0;
  text-align: center;
  background-color: #3fa078;
}

.division {
  background-color: white;
  padding: 0.02rem;
}

.gmservices__logo-box {
  text-align: center;
  margin-bottom: 2rem;
  padding: 2rem;
}

.activities {
  padding: 0.5rem;
}

.footer {
  background-color: black;
  padding-top: 1rem;
}

.footer-sm {
  background-color: #2b2828;
  color: white;
}

.footer-sm a {
  color: white;
}

.footer-sm a i {
  font-size: 1rem;
  margin-left: 1rem;
}

.footer-sm__icons {
  text-align: center;
  padding: 1.5rem 0;
}

.footer-bottom {
  padding: 1rem 0;
}

.footer-bottom__copyright {
  text-align: center;
  color: gray;
  font-weight: 400;
}

.footer-bottom__copyright a {
  color: gray;
  text-decoration: none;
}

.footer-bottom__copyright a:hover {
  color: #3fa078;
  text-decoration: underline;
}

/*SERVICIOS */
#services {
  padding: 6rem 0 5rem 0;
  text-align: center;
  background-color: #3fa078;
}

.services__logo-box {
  text-align: center;
  margin-bottom: 1rem;
  padding-top: 4rem;
}

.services__logo-box1 {
  text-align: center;
  margin-bottom: 2rem;
}

.service-text {
  padding: 0.5rem;
  color: white;
}

.card {
  color: white;
  background-size: cover;
  padding: 2rem 0 0;
  max-width: 290px;
  max-height: 290px;
  border-radius: 1rem;
  overflow: hidden;
  transition: transform 500ms ease;
}

.card_diag {
  background-image: url(../imgs/computer_analysis.jpg);
}
.card_mant {
  background-image: url(../imgs/mechanic.jpg);
}
.card_td {
  background-image: url(../imgs/tren_delantero.jpeg);
}
.card_fluidos {
  background-image: url(../imgs/fluids.jpeg);
}
.card_gom {
  background-image: url(../imgs/tyres.jpeg);
}
.card_chapa {
  background-image: url(../imgs/car_painting.jpeg);
}

.card-content {
  padding: 1.5rem;
  background: linear-gradient(black, rgba(0, 0, 0, 0.5));
}

.card-content__title {
  text-decoration: underline;
  text-decoration-color: lightgray;
}

.card-content__body {
  color: rgba(255, 255, 255, 0.8);
}

.detail:hover {
  opacity: 1;
}
.card-content {
  transform: translateY(55%);
  transition: transform 500ms ease;
}
.card:hover .card-content {
  transform: translateY(0);
  transition-delay: 500ms;
}

.cada_servicio {
  padding: 2rem;
}

/*CUIDADO Y MANTENIMIENTO*/
.maintenance__list li {
  padding: 0.25rem;
}

.maintenance__logo-box ul {
  list-style-type: circle;
}

h2 {
  padding-bottom: 1rem;
  color: rgb(192, 192, 192);
}

#maintenance {
  padding: 5rem 0 5rem 0;
  background-color: #3fa078;
  color: rgb(59, 56, 56);
}

.maintenance__logo-box {
  padding: 2rem;
}

.maintenance__description {
  color: white;
}

/*NOSOTROS*/
#us {
  background-color: black;
  padding: 8rem 8rem 4rem 8rem;
  align-content: center;
}

.us-text {
  color: rgb(194, 194, 194);
  text-align: center;
}

.car__image {
  margin: auto;
  width: 40rem;
  display: block;
}

/*CONTACTO*/
#contact {
  background-color: #3fa078;
  padding: 2rem 0 2rem 0;
  margin: auto;
}

.form {
  padding: 2rem 0 2rem 0;
}

.questions {
  padding: 2rem 0 0 0;
}
